
/* Footer gerar-senha & gerenciador*/
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #bdd1de;
  justify-content: space-between;
  margin: 0 auto;
  font-family: roboto, sans-serif;
  font-size: medium;
  color: black;
}
.f-1 {
  background-color: #e4ebf0;
  margin: auto; /* Centraliza o elemento em ambos os eixos */
  align-self: center; /* Garante alinhamento vertical no Flexbox */
  text-align: center;
  height: 30px;
  width: 10%;
  padding: 0.8em;
  border-radius: 15px;
}

.f-2 {
  text-align: center;
  float: left;
  height: 80px;
  width: 50%;
  padding: 0.5em;
}
.logo { 
  align-self: center;
  border-radius: 100px;
  background-color: #ffffff;
}
