.eae{background-color: e;}

body{
    align-items: center;
}
.footer {
    display: flex;
    position: relative;
    background-color: rgb(49, 46, 46);
    
    color: rgb(212, 6, 6);
  }
    .f-1 {
      justify-content: space-between;
      margin: 0%auto;
      text-align: center;
      vertical-align: middle;
      float:left;
      height: 79px;
      width: 30%;
      padding: 1em;
      border: 1px solid red;
    }