body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
<<<<<<< HEAD
}
ee {
    background: #000;
=======
    sss
>>>>>>> e32509b1e6719447aa55bd14f391ee0a02a090c4
}